<footer class="page-footer  teal darken-1 ">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12 ">
          <h5 class="black-text">Hello, Visitor</h5>
          <p class="yellow-text  bolde ">This Site Is Dedicated To Instil Some Useful Programming Techniques With Ultimate Simplicity.  </p>
        </div>
        <div class="col l2 offset-l2 s6">
          <h6  class="black-text">About</h6>
          <ul>
            
            <li><a href="" class="black-text text-lighten-3"><span class="bolde yellow-text">Contact</span></a></li>
            <li><a href="" class="black-text text-lighten-3"><span class="bolde yellow-text">Suggestions</span></a></li>
          </ul>
        </div>
        <div class="col l2 s6">
          <h6><span class="bolde black-text">Developer</span></h6>
          <ul>
            <li><a href="" class="black-text text-lighten-3"><span class="bolde yellow-text">Source</span></a></li>
            <li><a href="" class="black-text text-lighten-3"><span class="bolde yellow-text">Contribute</span></a></li>
            <li><a href="" class="black-text text-lighten-3"><span class="bolde yellow-text">Terms</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
       
</body>
</html>