<% include partials/header %>
<main>

<div class="row container">
<div style="margin-top:5em;margin-left:18em;">
    <div class="col s12 m6 container ">
      <div class="card teal lighten-2 z-depth-5 hoverable ">
        <div class="card-content black-text">
        <span class="card-title center">Login</span>
<form action="/login" method="POST">
   <input type="text" placeholder="username" name="username">
   <input type="password" placeholder="password" name="password">
   <button class="btn yellow black-text" style="margin-right: 1.25em;margin-left: 1.25em;margin-bottom: 1.25em ;display: inline-block">Login<i class="material-icons right">assignment_ind</i></button>
   <button class="btn yellow black-text"  type="button" style="margin-right: 1.25em;margin-left: 1.25em;margin-bottom: 1.25em ;display: inline-block" onclick="history.back()">Back
        <i class="material-icons right">chevron_left</i></button>

</form>
</div>
</div>
</div>
</div>
</div>
</main>
<% include partials/footer %>